.bdy {
  background-color: azure;
}

.navig {
  display: flex;
  align-items: center;
  margin: 6px;
  height: 60px;
  border: 1px solid rgb(177, 176, 176);
  box-shadow: 1px 1px rgb(107, 106, 106)
}

.navig>div {
  background-color: rgb(8, 8, 9);
  color: white;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}


hr {
  border: 1px solid rgb(23, 23, 23)
}

.movewords {
  border: 2px solid black;
  background-color: rgb(162, 162, 239);
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;


}

@media screen and (max-width:450px) {
  .movewords {
    font-size: 15px;
    word-spacing: 10px;
    line-height: 26pt;

  }
}



.content>p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin: 2px;
  line-height: 26pt;
  text-align: justify;
  

}

@media screen and (max-width:374px) {
  .content>p {

    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

h2 {
  text-align: center;
  margin-top: 7px;
  color: rgb(31, 31, 32);
  font-family: 'Times New Roman', Times, serif;
}



img {
  height: 99px;
  width: 100%;
}

h4 {
  text-align: center;
  margin-top: 10px;
  line-height: 5px;

}

.footer-container {
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  margin: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 2ppx;
  background: rgb(123, 167, 123);
  color: white;
  font-size: 12px;
  text-align: center;


}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 100px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.container>div {
  grid-row: 1;
  /* keeps all items on the first row */
  border: 1px solid #dcd6d6;
  border-radius: 0px;
}

.complete_grid{
  margin-bottom: 100px;
  margin-top: 40px;
}